<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.arejaybee.character_sheet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CharacterSheet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DescriptionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SkillsActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NotesActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CompanionActivity"
            android:label="@string/title_activity_companion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AbilityActivity"
            android:label="@string/title_activity_ability"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CombatActivity5e"
            android:label="@string/title_activity_combat_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CombatActivity35"
            android:label="@string/title_activity_combat_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SpellActivity"
            android:label="Spell_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>